<div class="col-md-10 col-md-offset-1">
	<h1 class="">Raymond Calderon <small>resume</small></h1>
	<hr>
	<div class="row">
		<div class="col-md-9">
		
			<section>
				<div class="row">		
					<div class="col-md-3"><h3 class="heading-resume">Contact</h3></div>
					<div class="col-md-9">
						<p><address>
						  <%= mail_to "mundocalderon@gmail.com" %> </br>
						  310.867.1182
						</address>
						</p>
					</div>
				</div>
			</section>
		
			<section>
				<div class="row">		
					<div class="col-md-3"><h3 class="heading-resume">Skills</h3></div>
					<div class="col-md-9">
						<strong>Used actively</strong>
						<p>Agile, AJAX, AngularJS, Bash, Bcrypt, Capybara, CSS, DelayedJob, Devise, DigitalOcean, DNS, Git, Heroku, HTML, ImageMagick,IBM Forms, Java, JavaScript, JQuery, JSON, Linux, MongoDB, MySQL, NoSQL, OSX, PowerShell, Phusion Passenger, PostgreSQL, RSpec, Ruby, Rails, rbenv, AWS S3, Sass, SCRUM, Sidekiq, SQL, SQLite,  Bootstrap, Vim, Wordpress, XML
						</p>

						<strong>Used when needed</strong>
						<p>Apache, CentOS, CoffeeScript, Drupal, ElasticSearch, Exchange, Fedora, FTP, IBM Websphere, Illustrator, IMAP, LESS, Nagios, NGiNX, PHP, Photoshop, POP, Perl, Python, RSS, SMTP, Spree, Windows
						</p>

						<strong>Used, but mostly forgotten</strong>
						<p>ASP, C, C++, C#, CodeIgniter, CVS, Django, Fireworks, 
						Samba, Sendmail, Solaris, Sony SDK, Subversion, Gimp, Ubuntu
						</p>
						
					</div>
				</div>
			</section>
		
			<section>
				<div class="row">		
					<div class="col-md-3">
						<h3 class="heading-resume">Experience</h3>
					</div>
					<div class="col-md-9">
						<strong>MundoMundo</strong>
						<br>
						<div class="pull-left text-muted">Full-Stack Developer & Consultant</div>
						<div class="pull-right text-muted">2014 - present</div>
						<br>
						 <p>Designing and delivering complete web application solutions for diverse clients. Consistently completing projects on-schedule and within budget. Analyzing client business processes and crafting custom workflows, templates, appropriate technologies, and application solutions; increasing visibility online for clients and boosting traffic. Bringing clients to today’s industry standards using a range of technologies: Amazon Web Services, Heroku, Ruby on Rails, Javascript, HTML5, CSS, JQuery, MySQL, MongoDB, Bootstrap.   </p>
						 <p>For a sample of work, please visit my <%= link_to "Portfolio", '/portfolio'%> </p>
						
						<br>

						<strong>Rock n Roll Moving Inc.</strong>
						<br>
						<div class="pull-left text-muted">Founder</div>
						<div class="pull-right text-muted">2018 - 2020</div>
						<br>
						 <p>Single-handedly bootstrapped an operation from the ground up. Compiled a team, negotiated contracts with vendors, cultivated a customer base comprised of individual and corporate clients, masterminded a brand, and navigated a complex field of Federal and State regulations. Achieved a 5-star rating across numerous online platforms. Leveraged social media and a created a custom SEO optimized web page. Clients included: Levi’s, Airbnb, Creedence Clearwater Revival, Foxtail Events, KMD Design, Coinme Wallet.  </p>						
						<br>

						<strong>Department of Industrial Relations</strong>
						<br>
						<div class="pull-left text-muted">Programmer Analyst</div>
						<div class="pull-right text-muted">2016 - 2018</div>
						<br>
					 	<p>Managed a small project team that completed the on-site deployment of custom built scanning software at several California sites. Completed project without error and ahead of schedule. Took the initiative to draft and maintain documentation and training materials for my team and for future teams.</p>

						<p>Led QA and Unit Testing of a crucial and vital online applications that were behind schedule. I wrote software development plans, documentation, and test cases using Selenium Suite. The focus and organization brought a stale project to completion so efficiently that the process/techniques were then repeated in other delayed projects.  </p>						
						<br>

						<strong>Fin Exploration Company</strong>
						<br>
						<div class="pull-left text-muted">Operations Agent</div>
						<div class="pull-right text-muted">2016</div>
						<br>
						<ul>
							<li>Acted as assistant and project manager to hundreds of Fin's early beta users. </li>
							<li> Aided in the development of the role and helped establish best-practices </li>
							<li> Interfaced with founders/engineering team to discuss the implementation and timeline of product improvements and features to drive engagement and customer satisfaction.</li>
							<li> Submitted bug reports to engineering and worked with them to reproduce those bugs as needed.</li>
							<li> Created, implemented and optimized workflows and best practices for the operations team.</li>
							<li> Excelled in a heavily metrics-driven environment.</li>
						</ul>
						
						<br>

						<strong>California Appellate Project</strong>
						<br>
						<div class="pull-left text-muted">Webmaster & Information Resources Administrator</div>
						<div class="pull-right text-muted">2011 - 2014</div>
						<br>
						 <p>The California Appellate Project in San Francisco (CAP-SF) is a non-profit corporation established by the State Bar of California in 1983 as a legal resource center to implement the constitutional right to counsel for indigent persons facing execution. I fulfilled many roles while working for this NPO, including but not limited to, being the in-house web developer, being first-tier IT Support, Resource Administrator,  SQL Report writer, and various other roles.  </p>
						<ul>
							<li>Centrally designed, developed, and maintained CAP’s website and ensured that posted materials were in a searchable, user-friendly format. </li>
							<li> Obtained, developed, and monitored the timely updating of resources and publications that are helpful to case assistance end essential for building CAP’s collection of reliable materials. </li>
							<li> Maintained and wrote resource reports by extracting data on CAP’s docketing SQL database.</li>
							<li> Provided technical assistance to computer users onsite and offsite. Answered questions and resolved computer problems for staff.</li>
						</ul>
						
						<br>
						
						<strong>Chirply Inc.</strong>
						<br>
						<div class="pull-left text-muted">Software Engineer</div>
						<div class="pull-right text-muted">2010 - 2011</div>
						<br>
						 <p>Chirply is a platform for crowd-sourcing & crowd-curating design. Chirply's mission is to build engagement, stickiness, and virality through crowd-sourcing design. </p>
						 <ul>
							 <li>Wrote software to create, showcase, and distribute illustrations. </li>
							 <li>Web apps were primarily written in Ruby on Rails, and there was opportunity to solve challenges related to: scaling and availability; providing rich, rewarding user experiences. </li>
							 <li>Worked on both front-end and back-end web development</li>
						 </ul>
						</br>
					</div>
				</div>
			</section>
		
			<section>
				<div class="row">		
					<div class="col-md-3"><h3 class="heading-resume">Education</h3></div>
					<div class="col-md-9">
						<strong>University of California Santa Cruz</strong>
						<br>
						<div class="pull-left text-muted">B.S. Computer Science</div>
						<div class="pull-right text-muted">2006 - 2010</div>
						<br>
						 <p> Under the tutelage of Artificial Intelligence pioneer Michael Mateas, we petitioned to have the school acquire Sony’s Development Kit. After embarking on the yearlong project, I became the Product Owner and was heavily involved in writing the code for the controls, camera, splash/loading screens, state machine, individual levels, etc. I was also in charge of all the Unit Testing, System Testing, A/B testing, etc.  </p>
						
						<br>
					</div>
				</div>
			</section>
		</div>
	
		<div class="col-md-3">
			<div class="well well-sm "><strong>Attention Recruiters</strong>
				<p>I'm always open to fun, new and challenging opportunities.</p>
				<a href="https://github.com/mundocalderon"><i class="fa fa-github-square fa-2x"></i></a>
				<a href="https://www.linkedin.com/in/mundomundo"><i class="fa my-fa-linkedin-square fa-2x"></i></a>
				<a href="http://stackoverflow.com/users/923949/mundo-calderon"><i class="fa fa-stack-overflow fa-2x"></i></a>
				<a href="https://instagram.com/mundocalderon/"><i class="fa my-fa-instagram fa-2x"></i></a>
				<a href="https://twitter.com/mundocalderon"><i class="fa my-fa-twitter-square fa-2x"></i></a>
			</div>
		</div>
	</div>
</div>